.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.blackSquare {
  width: 20rem;
  height: 20rem;
  background-color: #000000;
}
